body {
    margin: 0;
    padding: 0;
}

img {
    width: auto;
    height: 50px;
    border-radius: 30px;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #969292;
}

.logo {
    margin: 10px;
    display: flex;
    align-items: center;
}

.menu {
    
}